/* Cooper Black */
@font-face {
  font-family: "CooperBlack";
  src: url(../font/Cooper-Black.woff) format("woff");
}

/* Sofia Pro */
@font-face {
  font-family: " Sofia Pro";
  src: url(../font/Sofia-Pro-ExtraLight.woff) format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Sofia Pro";
  src: url(../font/Sofia-Pro-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Sofia Pro";
  src: url(../font/Sofia-Pro-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Sofia Pro";
  src: url(../font/Sofia-Pro-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Sofia Pro";
  src: url(../font/Sofia-Pro-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Sofia Pro";
  src: url(../font/Sofia-Pro-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
